<!-- Welcome page -->
<div class="main-theam">
	<div class="container container-styles">
		
		<div class="panel panel-primary">
			
			<div class="panel-heading">{{pageTitle}}</div>
			<div class="theam">
			<div class="panel-body">
				<div class="row">
					<span class="img-responsive center-block logo-styles">
						
							<img src="../../assets/imgs/logo.jpg" height="100px" style="align : center;"> </span>
					
					<div id="div1" class="shadow title-styles">ORGANIC MILK</div>
						
				</div>
				<br />
				<div class="row">
					<div class="text-center text-styles" style="background-color: aquamarine;">Where Happy Cows Create Blissful Dairy Products</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>